@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body{
  font-family: 'Helvetica Nue', 'Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  background-color: #333;
  color: #fff;
}
p{
  margin: 0 auto;
  padding: 0;
}
ul,li{
  margin: 0 auto;
  padding: 0;
}

$color-hh: #2980b9;
$color-bd: #e74c3c;
$color-sd: #f1c40f;

$color-header: #2E2E2E;
$hh: #2980b9;
$bd: #e74c3c;
$sd: #f1c40f;

$bg: #f5f5f5;
$fg: #383838;

$ebg: #273a45;
$efg: #fff;

.drum{
  max-width: 320px;
  margin: 0 auto;
  .drum-connectWrapper{
    position: relative;
    background-color: #2E2E2E;
    margin: 0 auto;
    &:before{
      @extend .fa;
      position: absolute;
      content: "\f13a";
      display: block;
      width: 40px;
      line-height: 38px;
      left: 0;
      top: 0;
      border-right: 1px solid rgba(55,55,55,.5);
      box-shadow: 1px 0px 0 rgba(0,0,0,.1);
      z-index: 0;
      text-align: center;
      font-size: 24px;
      padding-left: 3px;
    }
  }
  select{
    -webkit-appearance: none;
    width: 200px;
    line-height: 38px;
    background-color: transparent;
    color: #fff;
    border-radius: 0;
    text-align: right;
    direction: rtl;
    padding-right: 30px;
    box-sizing: border-box;
    border: none;
    position: relative;
    border-right: 3px solid #333;
  }
  button{
    -webkit-appearance: none;
    line-height: 38px;
    width: 100px;
    border: none;
    padding: 0;
    background-color: #2E2E2E;
    color: #fff;
    position: relative;
    // padding-left: 30px;
    padding-left: 10px;
  }
  .drum-connectBtn{
    &:before{
      @extend .fa;
      content: "\f0c1";
      display: block;
      position: absolute;
      left: 0;
      line-height: 38px;
      width: 20px;
      // border-right: 1px solid rgba(55,55,55,.5);
      // box-shadow: 1px 0px 0 rgba(0,0,0,.1);
      // padding-right: 3px;
      padding-left: 5px;
    }
  }
}
.drum-item02{
  position: relative;
  width: 300px;
  line-height: 300px;
  border-radius: 50%;
  text-align: center;
  // border: 2px solid transparent;
  margin: 0 auto;
  color: #fff;
  color: $color-hh;
  font-size: 30px;
  text-shadow: -1px -1px 0 rgba(0,0,0,1);
  background-color: #ECF0F1;
  box-shadow: inset 0 0 0 5 #2980b9;
  &:before{
    position: absolute;
    display: block;
    content: "";
    width: 265px;
    height: 265px;
    border-radius: 50%;
    border: 18px solid $color-hh;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
  }
  &:after{
    position: absolute;
    display: block;
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #2e2e2e;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
  }
  &.touched{
    box-shadow: -2px -2px 0 2px rgba(0,0,0,.3);
  }
}
.drum-item{
  position: relative;
  width: 300px;
  line-height: 300px;
  border-radius: 50%;
  text-align: center;
  border: 5px solid transparent;
  margin: 0 auto;
  color: #fff;
  font-size: 30px;
  text-shadow: -1px -1px 0 rgba(0,0,0,1);
  &.touched{
    box-shadow: -2px -2px 0 2px rgba(0,0,0,.3);
  }


  $onpu: 130px;
  &:before{
    position: absolute;
    @extend .fa;
    content: "\f001";
    display: block;
    font-size: $onpu;
    width: $onpu;
    height: $onpu;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 1;
    color: #6b6b6b;
    opacity: 0.1;
    text-shadow: -1px -1px 0 rgba(0,0,0,1);
  }

  .drum-effect{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    color: inherit;
    border: 2px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

}
.drum-hh{
  border-color: $color-hh;
  .drum-effect{
    border-color: $color-hh;
  }
}
.drum-bd{
  border-color: $color-bd;
    .drum-effect{
      border-color: $color-bd;
    }
}
.drum-sd{
  border-color: $color-sd;
    .drum-effect{
      border-color: $color-sd;
    }
}

.anime-push{
  animation: push 300ms ease 0 1;
}

@keyframes push{
  0%{
    transform: scale(1);
    opacity: 0.8;
  }
  100%{
    transform: scale(1.3);
    opacity: 0;
  }
}

.drum-tabs{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 320px;
}
.drum-tab{
  list-style: none;
  width: 100px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  display: inline-block;
  position: relative;
  background-color: #2E2E2E;
  margin: 0;
  padding: 0;
  &.active{
    &:before{
      position: absolute;
      content:"";
      display: block;
      border-bottom: 2px solid transparent;
      bottom: 100%;
      left: 0;
      width: 320px;
    }
  }

  &.drum-tab-hh{
    width: 106px;
    &.active{
      background-color: $color-hh;
      &:before{
        border-color: $color-hh;
      }
    }
  }
  &.drum-tab-bd{
    width: 108px;
    &.active{
      background-color: $color-bd;
      &:before{
        left: -106px;
        border-color: $color-bd;
      }
    }
  }
  &.drum-tab-sd{
    width: 106px;
    &.active{
      background-color: $color-sd;
      &:before{
        left: -214px;
        border-color: $color-sd;
      }
    }
  }
}

.drum-content{
  padding: 20px 10px;
  display: none;
  &.active{
    display: block;
  }
}


/* index */

.sss-wrapper{
  font-family: 'Helvetica Nue', 'Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
  .sss-header{
    background-color: $color-header;
    background-color: #222;
    padding: 30px 0 80px;
    // background-image: url(../img/bg.png);
    .sss-title{
      font-size: 40px;
      text-align: center;
      margin: 0;
      padding: 0;
      font-weight: normal;
      line-height: 1;
    }
    .sss-subTitle{
      text-align: center;
      font-size: 16px;
      color: #ccc;
      margin-top: 5px;
    }
  }

  .sss-unitInfo{
    width: 410px;
    margin: 20px auto;
    background-color: $color-header;
    background-color: #2c3e50;
    background-color: #ecf0f1;
    color: #2e2e2e;
    padding: 10px;
    box-sizing: border-box;
    padding-left: 110px;
    height: 100px;
    position: relative;
    text-align: left;

    &:before{
      @extend .fa;
      position: absolute;
      content: "\f108";
      display: block;
      left: 0;
      top: 0;
      width: 100px;
      line-height: 95px;
      padding-top: 5px;
      text-align: center;
      font-size: 70px;
      box-sizing: border-box;
      border-right: 1px solid rgba(55,55,55,.5);
      box-shadow: 1px 0px 0 rgba(0,0,0,.1);
    }
    &.host{
      margin: -40px auto 40px;
    }
    &.client{
      display: inline-block;
      width: 240px;
      padding-left: 90px;
      margin-right: 3px;
      line-height: 1.7;
      &:before{
        content: "\f10b";
        font-size: 80px;
        left: 0;
        width: 75px;
        padding-left: 3px;
      }
      &.unit-bd{
        &:before{
          background-color: $bd;
          color: #eee;
        }
      }
      &.unit-hh{
        &:before{
          background-color: $hh;
          color: #eee;
        }
      }
      &.unit-sd{
        &:before{
          background-color: $sd;
          color: #eee;
        }
      }
    }

    .sss-unitInfo-id{
      font-size: 16px;
      text-align: left;
      // margin: 3px auto 6px;
      position: relative;
      &:before{
        @extend .fa;
        content: "\f007";
        padding-right: 5px;
        font-size: 18px;
        width: 22px;
        text-align: right;
        display: inline-block;
      }
    }
    .sss-unitInfo-inst{
      // margin-bottom: 5px;
      &:before{
        @extend .fa;
        content: "\f001";
        padding-right: 5px;
        font-size: 16px;
        width: 22px;
        text-align: right;
        display: inline-block;
      }
    }
    .sss-unitInfo-type{
      &:before{
        @extend .fa;
        content: "\f012";
        padding-right: 5px;
        font-size: 16px;
        width: 22px;
        text-align: right;
        display: inline-block;
      }
    }

    .sss-unitInfo-rowRight{
      text-align: right;
    }
    .sss-unitInfo-btnWrapper{
      margin-top: 10px;
      &:first-of-type{
        margin-right: 5px;
      }
      display: inline-block;
      .sss-unitInfo-btn{
        -webkit-appearance: none;
        line-height: 38px;
        border: none;
        padding: 0 10px;
        min-width: 130px;
        font-size: 15px;
        background-color: #ecf0f1;
        background-color: #2e2e2e;
        color: #2c3e50;
        color: #eee;
        border-radius: 2px;
        position: relative;
        text-align: center;
      }
    }

    // .sss-unitInfo-arrow{
    //   width: 50px;
    //   height: 50px;
    //   line-height: 50px;
    //   position: absolute;
    //   bottom: 100%;
    //   left: 50%;
    //   margin-left: -25px;
    //   display: block;
    //   text-align: center;
    //   &:before{
    //     @extend .fa;
    //     color: #ccc;
    //     font-size: 30px;
    //     content: "\f062";
    //   }

    //   // animation: arrow-01 1000ms ease-out 0 infinite;
    // }

  }

  .sss-clients{
    width: 740px;
    margin: 0 auto;
    text-align: center;
  }
}

@keyframes arrow-01{
  0%{
    transform: rotate(45deg) translate(0, 0);
    opacity: 1;
  }
  100%{
    transform: rotate(45deg) translate(20px, -40px);
    opacity: 0;
  }
}


.sss-timelineWrapper{
  background-color: #ecf0f1;
  color: #2e2e2e;
  width: 740px;
  margin: -50px auto 40px;
  padding: 1px 0px;
  .sss-timeline{
    position: relative;
    // border-bottom: 2px solid #eee;
    width: 720px;
    height: 40px;
    margin: 20px auto;
    overflow: hidden;

    &:before{
      position: absolute;
      border-bottom: 1px solid #2e2e2e;
      width: 100%;
      content: "";
      display: block;
      left: 0;
      top: 50%;
    }
    &:after{
      @extend .fa;
      position: absolute;
      // border-left: 1px solid #2e2e2e;
      border: 1px solid #2e2e2e;
      // content: "";
      content: "\f001";
      $hantei: 35px;
      top: 50%;
      left: 10px;
      width: $hantei;
      height: $hantei;
      line-height: $hantei;
      border-radius: 50%;
      background-color: #ecf0f1;
      text-align: center;
      margin-top: -($hantei/2);
      display: block;
      font-size: 18px;
    }
    $note: 30px;
    .sss-note{
      display: block;
      width: $note;
      height: $note;
      margin-top: -($note/2);
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 100%;
      animation: anime-note 2000ms linear 0 1;
    }
    &.sss-timeline-hh{
      .sss-note{
        background-color: $hh;
      }
    }
    &.sss-timeline-bd{
      .sss-note{
        background-color: $bd;
      }
    }
    &.sss-timeline-sd{
      .sss-note{
        background-color: $sd;
      }
    }

    .sss-timeline-checkGreat{
      display: none;
      &:before{
        @extend .fa;
        content: "\f118";
        font-size: 20px;
        position: absolute;
        top: 0;
        left: 50px;
        z-index:1;
      }
    }
    .sss-timeline-checkMiss{
      display: none;
      &:before{
        @extend .fa;
        content: "\f119";
        font-size: 20px;
        position: absolute;
        top: 0;
        left: 50px;
        z-index:1;
      }
    }
  }

}

@keyframes anime-note{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-740px);
  }
}

.sss-units{
  margin: 0 auto;
  text-align: center;
  .drum-item{
    display: inline-block;
    margin-right: 10px;
    width: 250px;
    line-height: 250px;
  }
}